.root {
	border: 1px solid rgba(0, 0, 0, 0.1);
	padding: 0px 8px;
	width: 400px;
	border-radius: 10px;
	display: flex;
	align-items: center;
}

.input {
	padding: 8px 8px;
	width: 100%;
	border: none;
	font-size: 18px;
	color: #333;
}

.icon {
	font-size: 22px;
	opacity: 0.2;
}

.clearIcon {
	font-size: 22px;
	opacity: 0.2;

	&:hover {
		opacity: 0.8;
		cursor: pointer;
	}
}
